* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --navbar-bg: #f4f5f7;
    --focus-bg: #e2e4e8;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.nav {
    background-color: var(--navbar-bg);
    padding: 20px;
}
.main {
    padding: 80px 100px;
}
.row {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.nav-item {
    display: flex;
    align-items: center;
}
.nav-item:hover {
    background-color: var(--focus-bg);
    cursor: pointer;
}
.focus {
    background-color: var(--focus-bg);
    font-weight: bold;
}

.logo {
    font-size: 3em;
    margin-bottom: 20px;
}

.icon {
    width: 1.5em;
    margin-right: 10px;
}

.inp-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inp-row > input,
.inp-row > textarea,
.inp-row > select,
.inp-row > button {
    padding: 5px 10px;
    font-size: 1em;
    max-width: 30vw;

    border: 1px solid gray;
    border-radius: 5px;
}
.inp-row > textarea {
    height: auto;
    resize: none;
}
.inp-row > button {
    width: fit-content;
    background-color: var(--navbar-bg);
}
.inp-row > button:hover {
    background-color: var(--focus-bg);
}
/* .inp-row > button:focus {
    background-color: #c9cbcf;
} */
.main-content > .main-item:first-child {
    margin-top: 30px;
}
.main-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: var(--navbar-bg);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.main-item #due-date {
    justify-self: flex-end;
}
.main-item > :first-child {
    display: flex;
    gap: 10px;
}
.main-item > :last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 30px;
}
.main-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.main-item input[type="checkbox"] {
    background-color: var(--navbar-bg);
    cursor: pointer;
}